<h1>New user_kind</h1>

<%= error_messages_for :user_kind %>

<% form_for(:user_kind, :url => user_kinds_path) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_kinds_path %>