<h1>New office</h1>

<%= error_messages_for :office %>

<% form_for(:office, :url => habitat_offices_path) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Phone</b><br />
    <%= f.text_field :phone %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_area :email %>
  </p>

  <p>
    <b>Picture url</b><br />
    <%= f.text_area :picture_url %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', habitat_offices_path %>