  <label for="">
  <b>Name</b><br />
  <%= f.text_field :name, :class => "text_field" %>

</label>
<br />
  <label for="">
    <b>Abbr</b><br />
    <%= f.text_field :abbr, :class => "text_field" %>
  </label>

