<h1>New state</h1>

<%= error_messages_for :state %>

<% form_for(:state, :url => states_path) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', states_path %>