<h1>Editing agent</h1>

<%= error_messages_for :agent %>

<% form_for(:agent, :url => habitat_agent_path(@habitat, @agent), :html => { :method => :put }) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Phone</b><br />
    <%= f.text_field :phone %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_area :email %>
  </p>

  <p>
    <b>Picture url</b><br />
    <%= f.text_area :picture_url %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', habitat_agent_path(@habitat, @agent) %> |
<%= link_to 'Back', habitat_agents_path %>