<h1>New franchise</h1>

<%= error_messages_for :franchise %>

<% form_for(:franchise, :url => habitat_franchises_path(@habitat)) do |f| %>

<%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', habitat_franchises_path %>