<% form_for(@listing) do |f| -%>
  <fieldset>
    <%= render :partial => property_form_template(@listing.current_form),
               :locals => {
                 :property_form => @listing.current_form,
                 :habitat   => @habitat
               } %>
  </fieldset>
  <%= hidden_field_tag :direction, "next!" %>
  <hr/>
  <table class="controls">
    <tr>
      <td>
        <%= button_to "&#8592; Previous", 
              {:id => @listing, :action => "update"},
              {:method => :put, 
               :onclick => "$('direction').value = 'previous!';"} %> 
      </td>

      <td>
        <%= submit_tag "Next &#8594;" %> 
      </td>
    </tr>
  </table>
<% end -%>

#########
