		<table bgcolor="#FFFFFF" border="0" cellpadding="5" cellspacing="1" width="100%">
			<tbody>
				<tr valign="bottom">
					<td colspan="3" align="center" height="35">
						<div align="left">
							<strong>Edit or Delete Photos</strong><br>
							<hr align="left" color="#CCCCCC" size="1" width="99%">
						</div>
					</td>
				</tr>
				<tr valign="middle">
					<td colspan="3" align="center" height="35">
						<div align="left">
							Change your main photo or delete some or all of the photos you've uploaded for your postlet.
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<table bgcolor="#FFFFFF" border="0" cellpadding="5" cellspacing="1" width="100%">
							<tbody>
								<tr>
									<td width="80">
										<div align="left">
											<font color="#666666" size="-2">main photo</font>
										</div>
									</td>
									<td colspan="3"></td>
									<td width="50">
										<div align="center">
											<font color="#666666" size="-2">delete</font>
										</div>
									</td>
								</tr>
								<tr valign="middle">
									<td>
										<div align="left">
											<input name="mainphoto" value="2871870" checked="checked" type="radio"> Main
										</div>
									</td>
									<td align="center" width="180">
										<img src="edit34.php_files/082238_120644_755486.jpg">
									</td>
									<td width="150">
										<div align="left">
											120644_755486.jpg
										</div>
									</td>
									<td width="150">
										<div align="left">
											<input name="2871870_description" value="Looks great from outside!" type="text">
										</div>
									</td>
									<td>
										<div align="center">
											<input name="deletephoto[]" value="2871870" type="checkbox">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>