						<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="left" height="14" valign="top">
										<img src="/images/roundcorner_topleft.gif" border="0" height="14" width="11">
									</td>
									<td align="right" height="14" valign="top">
										<img src="/images/roundcorner_topright.gif" border="0" height="14" width="11">
									</td>
								</tr>
								<tr>
									<td colspan="2" valign="top" width="712">
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td class="big2" width="50%">
														DISPLAY AND DISTRIBUTION
													</td>
													<td align="right">
														<img src="/images/easy_1sml.gif" hspace="3"><img src="/images/easy_2sml.gif" hspace="3"><img src="/images/easy_3sml.gif" hspace="3"><img src="/images/easy_4sml.gif" hspace="3"><img src="/images/easy_5sml.gif" hspace="3"><img src="/images/easy_6sml_hi.gif" hspace="3">&nbsp;&nbsp;&nbsp;&nbsp;
													</td>
												</tr>
												<tr>
													<td colspan="2" class="big2">
														<img src="/images/rule_dot_orange_680.gif" height="2" vspace="8" width="680">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="2" valign="top">
										<table border="0" cellpadding="12" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td>
														<table bgcolor="#DAE2E3" border="0" cellpadding="1" cellspacing="0" width="99%">
															<tbody>
																<tr>
																	<td>
																		<table bgcolor="#FDFED7" border="0" cellpadding="5" cellspacing="1" width="100%">
																			<tbody>
																				<tr valign="middle">
																					<td align="center" height="35">
																						<div align="left">
																							<font color="#666666"><strong>Your postlet is complete and active</strong>. We will queue it up to be submitted to our syndication partner sites (see list below). To get it onto craigslist, simply click on the "post on craigslist" link and paste in the HTML code below when you reach the description page.</font>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="2" valign="top">
										<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="700">
											<tbody>
												<tr>
													<td colspan="2">
														<form action="create36.php?pid=550260&amp;p=view" method="post" name="syndicates" id="syndicates"></form>
														<table border="0" cellpadding="7" cellspacing="0" width="100%">
															<tbody>
																<tr>
																	<td colspan="2" valign="top">
																		<strong>Display Options</strong>
																		<hr align="left" color="#CCCCCC" size="1" width="99%">
																	</td>
																</tr>
																<tr>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						<form method="post" name="statuschange" id="statuschange"></form>
																					</td>
																					<td width="100">
																						Status:
																					</td>
																					<td>
																						<label><select name="pstatus" size="1" onchange="location = '' + this.options[this.selectedIndex ].value;">
																							<option value="create36.php?pid=550260&amp;p=view&amp;sc=A" selected="selected">
																								Active
																							</option>
																							<option value="create36.php?pid=550260&amp;p=view&amp;sc=D">
																								Set to Draft
																							</option>
																						</select></label>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						<font color="#666666">You can save your postlet as "draft" until you're ready to make it active.</font>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td colspan="2" height="35" valign="top">
																		<strong>Links and Code</strong>
																		<hr align="left" color="#CCCCCC" size="1" width="99%">
																	</td>
																</tr>
																<tr>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						Link to your postlet:
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<label><input name="live_link" value="http://www.postlets.com/res/550260" size="50" type="text"></label>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						<font color="#666666">This is the URL for your postlet. You can use it in your marketing email and printed collateral.</font>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						HTML code for your postlet:
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<form name="clhtml" method="post" id="clhtml">
																							<textarea name="clhtml" cols="50" rows="7" class="html">
&lt;div
style="font-family: Georgia, serif; color: #6F6F65;"&gt;&lt;font
size="2"&gt;&lt;table width="100%" height="100%" border="0"
align="center" cellpadding="10" cellspacing="0"&gt; &lt;tr&gt; &lt;td
colspan="2" align="center" valign="top"
background="http://www.postlets.com/css/styles/sonoma/bg_body.gif"&gt;&lt;table
width="740" border="0" cellspacing="0" cellpadding="0"
align="center"&gt; &lt;tr&gt; &lt;td&gt;&lt;/td&gt; &lt;td height="20"
align="right"&gt; &lt;div style="background-color: #4B532A;
font-family: Verdana, sans-serif; color: #FDF8D8; padding-left: 5px;
padding-right: 5px; padding-top: 2px; padding-bottom: 2px;"&gt;&lt;font
size="2"&gt;&lt;strong&gt;Jim Tanner&lt;/strong&gt;&lt;a
href="http://www.postlets.com/email_interest.php?pid=550260&amp;v=re"
style="color: #FDF8D8;"&gt;&lt;/a&gt; |
801-644-2440&lt;/font&gt;&lt;/div&gt; &lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt; &lt;table width="740" border="0" cellspacing="0"
cellpadding="0" align="center" style="border-left: 1px solid #DEDDC9;
border-right: 1px solid #DEDDC9;"&gt; &lt;tr&gt; &lt;td&gt; &lt;table
width="100%" border="0" cellspacing="0" cellpadding="0"
align="center"&gt; &lt;tr&gt; &lt;td&gt; &lt;table width="100%"
border="0" cellspacing="0" cellpadding="7"&gt; &lt;tr&gt; &lt;td
colspan="2" style="background-color: #DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_subheaderbar.gif');"&gt;
&lt;table width="100%" cellspacing="0" cellpadding="1"&gt; &lt;tr
valign="top"&gt; &lt;td height="30" align="left"
valign="top"&gt;&lt;div style="font-family: Georgia, serif; color:
#8E0700;"&gt;&lt;font size="5"&gt;146 E Cottage Cove, Saratoga Springs,
UT&lt;/font&gt;&lt;/div&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td
width="560" align="left" valign="top"&gt; &lt;div style="font-family:
Verdana, sans-serif; color: #6F6F65;"&gt;Saratoga Springs, Lakeside
Development. 2 Bedrooms/2 bathrooms. Master bathroom with dual vanity.
Walk in closet. Jetted tub with seperate
shower.Gran&lt;/div&gt;&lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td colspan="2"
valign="top" style="background-color: #FFFEFD;"&gt; &lt;table
width="724" border="0" cellpadding="4" cellspacing="0"
style="border-left: 1px solid #BDBCAB; border-right: 1px solid #BDBCAB;
border-top: 1px solid #BDBCAB; border-bottom: 1px solid #BDBCAB;
background-color: #FFFEFD;"&gt; &lt;tr&gt; &lt;td
align="left"&gt;&lt;table width="100%" border="0" cellspacing="0"
cellpadding="0"&gt; &lt;tr&gt; &lt;td width="350" height="35"
valign="top"&gt; &lt;div style="font-family: Georgia, serif; color:
#4B532A;"&gt;&lt;font size="4"&gt;2 Bdrm Single Family
House&lt;/font&gt;&lt;/div&gt;&lt;/td&gt; &lt;td
valign="top"&gt;&lt;span style="padding-right:
5px;"&gt;&lt;/span&gt;&lt;/td&gt; &lt;td align="right"
valign="top"&gt;&lt;div style="font-family: Georgia, serif; color:
#4B532A;"&gt;&lt;font size="4"&gt;offered at
$500,000&lt;/font&gt;&lt;/div&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt;
&lt;td valign="top"&gt;&lt;table width="100%" border="0"
cellspacing="0" cellpadding="3" style="border-left: 1px solid #BDBCAB;
border-right: 1px solid #BDBCAB; border-top: 1px solid #BDBCAB;
border-bottom: 1px solid #BDBCAB; background-color: #FFFEFD;"&gt;
&lt;tr&gt; &lt;td width="125" style="background-color: #DEDDC9;
background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Verdana, sans-serif; font-size: 12px; font-weight: bold;
color: #4B532A;"&gt;Year Built&lt;/td&gt; &lt;td
style="background-color: #DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Georgia, serif; font-size: 13px; font-weight: normal;
color: #4B532A;"&gt;Unspecified &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt;
&lt;td style="background-color: #FFFEFD; font-family: Verdana,
sans-serif; font-size: 12px; font-weight: bold; color: #4B532A;"&gt;Sq
Footage&lt;/td&gt; &lt;td style="background-color: #FFFEFD;
font-family: Georgia, serif; font-size: 13px; font-weight: normal;
color: #4B532A;"&gt;Unspecified &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt;
&lt;td style="background-color: #DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Verdana, sans-serif; font-size: 12px; font-weight: bold;
color: #4B532A;"&gt;Bedrooms&lt;/td&gt; &lt;td style="background-color:
#DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Georgia, serif; font-size: 13px; font-weight: normal;
color: #4B532A;"&gt;2&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td
style="background-color: #FFFEFD; font-family: Verdana, sans-serif;
font-size: 12px;
font-weight: bold; color: #4B532A;"&gt;Bathrooms&lt;/td&gt; &lt;td
style="background-color: #FFFEFD; font-family: Georgia, serif;
font-size: 13px; font-weight: normal; color: #4B532A;"&gt;2 full, 0
partial &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td
style="background-color: #DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Verdana, sans-serif; font-size: 12px; font-weight: bold;
color: #4B532A;"&gt;Floors&lt;/td&gt; &lt;td style="background-color:
#DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Georgia, serif; font-size: 13px; font-weight: normal;
color: #4B532A;"&gt; Unspecified &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt;
&lt;td style="background-color: #FFFEFD; font-family: Verdana,
sans-serif; font-size: 12px; font-weight: bold; color:
#4B532A;"&gt;Parking&lt;/td&gt; &lt;td style="background-color:
#FFFEFD; font-family: Georgia, serif; font-size: 13px; font-weight:
normal; color: #4B532A;"&gt; 2 Car garage &lt;/td&gt; &lt;/tr&gt;
&lt;tr&gt; &lt;td style="background-color: #DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Verdana, sans-serif; font-size: 12px; font-weight: bold;
color: #4B532A;"&gt;Lot Size&lt;/td&gt; &lt;td style="background-color:
#DEDDC9; background-image:
url('http://www.postlets.com/css/styles/sonoma/bg_attributes.gif');
font-family: Georgia, serif; font-size: 13px; font-weight: normal;
color: #4B532A;"&gt;3,980 sqft &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt;
&lt;td style="background-color: #FFFEFD; font-family: Verdana,
sans-serif; font-size: 12px; font-weight: bold; color:
#4B532A;"&gt;HOA/Maint&lt;/td&gt; &lt;td style="background-color:
#FFFEFD; font-family: Georgia, serif; font-size: 13px; font-weight:
normal; color: #4B532A;"&gt;$0 per month&lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt; &lt;br&gt; &lt;div style="font-family: Verdana,
sans-serif; color: #4B532A;"&gt;&lt;span style="font-weight: bold;"&gt;
DESCRIPTION&lt;/span&gt;&lt;/div&gt; &lt;hr size="1" noshade
style="border-top: 1px solid #BDBCAB;"&gt; &lt;table width="100%"
border="0" cellspacing="0" cellpadding="3"&gt; &lt;tr&gt; &lt;td
style="font-family: Georgia, serif; font-size: 13px; font-weight:
normal; color: #6F6F65;"&gt;Saratoga Springs, Lakeside Development. 2
Bedrooms/2 bathrooms. Master bathroom with dual vanity. Walk in closet.
Jetted tub with seperate shower.Granite, stainless steel appliances,
hardwood floors. Deck overlooking the 11th fairway. Animals permitted.
Spectacular x-large golf course lot on 11th fairway Talons Cove.
Incredible view of Utah's true adult active community. 100% lawn care.
9,000 square ft. Community Lodge w/ pool, fitness center and
more.&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/td&gt; &lt;td
valign="top" width="5"&gt;&lt;span style="padding-right:
5px;"&gt;&lt;/span&gt;&lt;/td&gt; &lt;td valign="top"&gt;&lt;table
width="100%" border="0" cellpadding="8" cellspacing="0"
style="border-left: 1px solid #BDBCAB; border-right: 1px solid #BDBCAB;
border-top: 1px solid #BDBCAB; border-bottom: 1px solid #BDBCAB;
background-color: #FFFEFD;"&gt; &lt;tr&gt; &lt;td&gt;&lt;img
src="http://www.postlets.com/create/photos/20080321/082238_120644_755486.jpg"
border="1" width="350" height="262"&gt;&lt;br&gt;
&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table width="100%"
border="0" cellspacing="0" cellpadding="0"&gt; &lt;tr&gt; &lt;td
align="center"&gt;&lt;table width="350" border="0" cellspacing="0"
cellpadding="1"&gt; &lt;tr&gt; &lt;td height="25" align="center"
style="font-family: Verdana, sans-serif; font-size: 12px; font-weight:
normal; color: #6F6F65;"&gt;see additional photos below&lt;/td&gt;
&lt;/tr&gt;&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;
&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td colspan="2"
valign="top" style="background-color: #FFFEFD;"&gt;&lt;table
width="724" border="0" cellpadding="4" cellspacing="0"
style="border-left: 1px solid #BDBCAB; border-right: 1px solid #BDBCAB;
border-top: 1px solid #BDBCAB; border-bottom: 1px solid #BDBCAB;
background-color: #FFFEFD;"&gt; &lt;tr&gt; &lt;td align="left"&gt;
&lt;table width="100%" border="0" cellspacing="0" cellpadding="0"
align="center"&gt; &lt;tr align="center" valign="middle"&gt; &lt;td
valign="top"&gt; &lt;table width="100%" border="0" cellspacing="0"
cellpadding="3"&gt; &lt;tr&gt; &lt;td align="left"&gt; &lt;div
style="font-family: Verdana, sans-serif; color: #4B532A;"&gt;&lt;span
style="font-weight: bold;"&gt;PROPERTY FEATURES&lt;/span&gt;&lt;/div&gt;
&lt;hr size="1" noshade style="border-top: 1px solid #BDBCAB;"&gt;
&lt;table width="100%" border="0" cellspacing="0"
cellpadding="3"&gt;&lt;tr style="font-family: Georgia, serif;
font-size: 13px; font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Central A/C&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Central heat&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Fireplace&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;High/Vaulted ceiling&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Walk-in closet&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Hardwood floor&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Tile floor&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Family room&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Living room&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Bonus/Rec room&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Office/Den&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Dining room&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Breakfast nook&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Dishwasher&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Refrigerator&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Stove/Oven&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Microwave&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Granite countertop&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Stainless steel appliances&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Attic&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Basement&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Washer&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Dryer&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Laundry area - inside&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Laundry area - garage&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Balcony, Deck, or Patio&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Yard&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style="font-family: Georgia, serif; font-size: 13px;
font-weight: normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Swimming pool&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Jacuzzi/Whirlpool&lt;/td&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Sauna&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;br&gt;
&lt;table width="100%" border="0" cellspacing="0" cellpadding="3"&gt;
&lt;tr&gt; &lt;td align="left"&gt; &lt;div style="font-family: Verdana,
sans-serif; color: #4B532A;"&gt;&lt;span style="font-weight:
bold;"&gt;COMMUNITY FEATURES&lt;/span&gt;&lt;/div&gt; &lt;hr size="1"
noshade style="border-top: 1px solid #BDBCAB;"&gt; &lt;table
width="100%" border="0" cellspacing="0" cellpadding="3"&gt;&lt;tr
style="font-family: Georgia, serif; font-size: 13px; font-weight:
normal; color: #6F6F65;"&gt;
&lt;td width="33%"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/blt_features.gif"
vspace=3 height=3 width=13&gt;Garage parking&lt;/td&gt;
&lt;td width="33%"&gt;&lt;/td&gt;&lt;td
width="33%"&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;&lt;p&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;
&lt;BR&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/td&gt;
&lt;/tr&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td
colspan="2" valign="top" style="background-color:
#FFFEFD;"&gt;&lt;table width="724" border="0" cellpadding="4"
cellspacing="0" style="border-left: 1px solid #BDBCAB; border-right:
1px solid #BDBCAB; border-top: 1px solid #BDBCAB; border-bottom: 1px
solid #BDBCAB; background-color: #FFFEFD;"&gt; &lt;tr&gt; &lt;td
align="left"&gt;&lt;table width="100%" border="0" cellspacing="0"
cellpadding="0" align="center"&gt; &lt;tr align="center"
valign="middle"&gt; &lt;td valign="top"&gt;&lt;table width="100%"
border="0" cellspacing="0" cellpadding="3"&gt;&lt;tr&gt; &lt;td
valign="top" align="left"&gt; &lt;div style="font-family: Verdana,
sans-serif; color: #4B532A;"&gt;&lt;span style="font-weight:
bold;"&gt;ADDITIONAL PHOTOS &lt;/span&gt;&lt;/div&gt; &lt;hr size="1"
noshade style="border-top: 1px solid #BDBCAB;"&gt;&lt;table
width="100%" border="0" cellspacing="0" cellpadding="0"
align="center"&gt;&lt;tr align="center" valign="middle"&gt;&lt;td
height="262"&gt;&lt;div align="left" style="padding-left: 2px;
padding-right: 2px; padding-top: 2px; padding-bottom: 2px;"&gt;&lt;img
src="http://www.postlets.com/create/photos/20080321/082238_120644_755486.jpg"
border="0" width="344"&gt;&lt;/div&gt;&lt;/td&gt;&lt;td&gt;&lt;div
align="right" style="padding-left: 2px; padding-right: 2px;
padding-top: 2px; padding-bottom: 2px;"&gt;&lt;img
src="http://www.postlets.com/create/photos/20080321/082238_120645_755486_1.jpg"
border="0" width="344"&gt;&lt;/div&gt;&lt;tr align="center"
valign="middle"&gt;&lt;td height="262"&gt;&lt;div align="left"
style="padding-left: 2px; padding-right: 2px; padding-top: 2px;
padding-bottom: 2px;"&gt;&lt;img
src="http://www.postlets.com/create/photos/20080321/082238_120645_755486_2.jpg"
border="0" width="344"&gt;&lt;/div&gt;&lt;/td&gt;&lt;td&gt;&lt;div
align="right" style="padding-left: 2px; padding-right: 2px;
padding-top: 2px; padding-bottom: 2px;"&gt;&lt;img
src="http://www.postlets.com/create/photos/20080321/082238_120646_755486_3.jpg"
border="0" width="344"&gt;&lt;/div&gt;&lt;tr align="center"
valign="middle"&gt;&lt;td height="262"&gt;&lt;div align="left"
style="padding-left: 2px; padding-right: 2px; padding-top: 2px;
padding-bottom: 2px;"&gt;&lt;img
src="http://www.postlets.com/create/photos/20080321/082238_120646_755486_4.jpg"
border="0" width="344"&gt;&lt;/div&gt;&lt;/td&gt;&lt;td&gt;&lt;div
align="right" style="padding-left: 2px; padding-right: 2px;
padding-top: 2px; padding-bottom: 2px;"&gt;&lt;img
src="http://www.postlets.com/create/photos/20080321/082238_120647_755486_5.jpg"
border="0"
width="344"&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;
&lt;td width="50%" valign="top" align="left" style="background-color:
#FFFEFD;"&gt; &lt;table width="350" border="0" cellpadding="0"
cellspacing="1" style="border-left: 1px solid #BDBCAB; border-right:
1px solid #BDBCAB; border-top: 1px solid #BDBCAB; border-bottom: 1px
solid #BDBCAB; background-color: #FFFFCD;"&gt; &lt;tr&gt;
&lt;td&gt;&lt;table width="100%" border="0" cellpadding="5"
cellspacing="0"&gt; &lt;tr&gt; &lt;td&gt;&lt;div style="font-family:
Verdana, sans-serif; color: #666666;"&gt;&lt;span style="font-weight:
bold;"&gt; Seller contact info:&lt;/span&gt;&lt;/div&gt;&lt;/td&gt;
&lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;table width="100%" border="0"
cellspacing="0" cellpadding="0"&gt; &lt;tr valign="top"&gt; &lt;td
width="35"&gt;&lt;span style="padding-right:
5px;"&gt;&lt;/span&gt;&lt;/td&gt; &lt;td&gt;&lt;table width="100%"
border="0" cellspacing="0" cellpadding="2"&gt;
&lt;tr&gt;&lt;td&gt;&lt;div style="font-family: Georgia, serif; color:
#6F6F65;"&gt;Jim Tanner&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;&lt;div style="font-family: Georgia, serif; color:
#6F6F65;"&gt;801-644-2440&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt; &lt;tr&gt;
&lt;td&gt;&lt;div style="font-family: Georgia, serif; color:
#6F6F65;"&gt;For sale by agent/broker&lt;/div&gt;&lt;/td&gt;
&lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt;&lt;br&gt;&lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt; &lt;/table&gt;&lt;/td&gt;
&lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;table width="100%" border="0"
cellspacing="0" cellpadding="0"&gt; &lt;tr&gt; &lt;td align="left"
style="background-color: #FFFEFD;"&gt;&lt;span style="padding-left:
5px; padding-right: 5px;"&gt;&lt;img
src="http://www.postlets.com/css/styles/sonoma/btn_powered.gif"
alt="powered by postlets" width="140" height="25"
border="0"&gt;&lt;/span&gt;&lt;/td&gt; &lt;td align="right"
style="background-color: #FFFEFD;"&gt;&lt;a
href="http://www.craigslist.org/about/FHA.html" style="color: #8E0700;
text-decoration: none;"&gt;Equal Opportunity
Housing&lt;/a&gt;&lt;/td&gt; &lt;td width="35" align="right"
style="background-color: #FFFEFD;"&gt;&lt;span style="padding-left:
5px; padding-right: 5px;"&gt;&lt;img
src="http://www.postlets.com/images/eoh_logo.gif" width="24"
height="18"&gt;&lt;/span&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;
&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt; &lt;table width="740" border="0" cellspacing="0"
cellpadding="0"&gt; &lt;tr&gt; &lt;td height="20" align="left"
valign="middle"&gt;&lt;div style="background-color: #4B532A;
font-family: Verdana, sans-serif; color: #FDF8D8; padding-left: 5px;
padding-right: 5px; padding-top: 2px; padding-bottom: 2px;"&gt;&lt;font
size="2"&gt;Posted: Mar 21, 2008, 6:12am
PDT&lt;/font&gt;&lt;/div&gt;&lt;/td&gt; &lt;/tr&gt;
&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;&lt;/font&gt;&lt;/div&gt;
</textarea>
																						</form>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<a href="javascript:popUp('http://post.craigslist.org/slc/H/rfs')" onmouseover="window.status='http://www.craigslist.org/'; return true" onmouseout="window.status=''; return true">post on craigslist</a> (turn off popup blockers)
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						<font color="#666666">You can use the HTML code to enhance your posts on craigslist, LiveDeal, eBay and other sites that accept HTML.</font>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<font color="#666666">Copy (Ctrl-c or Cmd-c) the HTML code in the window. If the code is not highlighted, use the Select All command (Ctrl-a or Cmd-a) first.</font>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<font color="#666666">For craigslist, click on the "post to craigslist" link and paste in the HTML when you reach the description page.</font>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						Embed code for your postlet MINIs:
																					</td>
																				</tr>
																				<tr>
																					<td height="25" valign="bottom">
																						small (160x200) <a href="javascript:popUp160('http://www.postlets.com/realestate/mini_160.php?pid=550260')">preview</a>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<input name="mini_160" value="&lt;iframe style=&quot;width:160px; height:200px; &quot;src=&quot;http://www.postlets.com/realestate/mini_160.php?pid=550260&quot; frameborder=&quot;0&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot;&gt;&lt;/iframe&gt;" size="50" type="text">
																					</td>
																				</tr>
																				<tr>
																					<td height="25" valign="bottom">
																						medium (250x225) <a href="javascript:popUp250('http://www.postlets.com/realestate/mini_250.php?pid=550260')">preview</a>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<input name="mini_250" value="&lt;iframe style=&quot;width:250px; height:225px; &quot;src=&quot;http://www.postlets.com/realestate/mini_250.php?pid=550260&quot; frameborder=&quot;0&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot;&gt;&lt;/iframe&gt;" size="50" type="text">
																					</td>
																				</tr>
																				<tr>
																					<td height="25" valign="bottom">
																						large (385x495) <a href="javascript:popUp385('http://www.postlets.com/realestate/mini_385.php?pid=550260')">preview</a>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<input name="mini_385" value="&lt;iframe style=&quot;width:385px; height:510px; &quot;src=&quot;http://www.postlets.com/realestate/mini_385.php?pid=550260&quot; frameborder=&quot;0&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot;&gt;&lt;/iframe&gt;" size="50" type="text">
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																	<td valign="top">
																		<table border="0" cellpadding="2" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td>
																						<font color="#666666">You can use the embed code to place mini versions of your postlet on your personal blog or website, social networks and other sites that allow embedded objects.</font>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td valign="top">
																		<table cellspacing="8">
																			<tbody>
																				<tr>
																					<td class="contentbtn">
																						<a href="/property_listings/">GO TO MY LISTINGS</a>
																					</td>
																				</tr>
																			</tbody>
																		</table><!--
		<label>
						<input type="submit" name="Submit" value="I'm Finished" />
					 </label>
		-->
																	</td>
																	<td valign="top">
																		&nbsp;
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="left" height="14" valign="bottom">
										<img src="/images/roundcorner_btmleft.gif" valign="bottom" height="14" width="11">
									</td>
									<td align="right" height="14" valign="bottom">
										<img src="/images/roundcorner_btmright.gif" valign="bottom" height="14" width="11">
									</td>
								</tr>
							</tbody>
						</table>
