<label for="property_listing_feature_links"><%= property_form.text %></label> 
<table>
<tr>
<td><label for ="real_estate_value03">zip</label> 
<%= text_field :real_estate, :value03 %> 

</td></tr></table>


