<h1>New habitat_type</h1>

<%= error_messages_for :habitat_type %>

<% form_for(:habitat_type, :url => habitat_types_path) do |f| %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Created on</b><br />
    <%= f.datetime_select :created_on %>
  </p>

  <p>
    <b>Updated on</b><br />
    <%= f.datetime_select :updated_on %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', habitat_types_path %>