<p>
  <b>Description:</b>
  <%=h @habitat_type.description %>
</p>

<p>
  <b>Created on:</b>
  <%=h @habitat_type.created_on %>
</p>

<p>
  <b>Updated on:</b>
  <%=h @habitat_type.updated_on %>
</p>


<%= link_to 'Edit', edit_habitat_type_path(@habitat_type) %> |
<%= link_to 'Back', habitat_types_path %>