<h1>Listing cities for <%= @state.name %></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  
<% for city in @cities %>
  <tr>
    <td><%=h city.name %></td>
    <td><%= link_to 'Show', city_path(city) %></td>
    <td><%= link_to 'Edit', state_edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', state_city_path(city), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New city', state_new_city_path %>