<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:g="http://base.google.com/ns/1.0">

        <title>The name of your data feed.</title>
        <link rel="self" href="http://www.example.com"/>
        <updated>2006-06-11T18:30:02Z</updated>
        <author>
                <name>The name of the author.</name>
        </author>
        <id>tag:example.com,2006-06-11:/support/products</id>

<%= yield %>
</feed>