<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
		<title>I Like Utah.com - http://ilikeutah.com - Real Estate Search</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<%= stylesheet_link_tag "reset-fonts-grids", :media => "all" %> 
		<%= stylesheet_link_tag "skin", :media => "all" %> 
		<%= stylesheet_link_tag "custom-base", :media => "all" %> 

	<style type="text/css">
	p#compressor {margin-top:0.2em;}	
	#index-main #promo li {list-style-type:disc; font-size:100%; margin-top:.2em; margin-left:1em;}
	#index-main #promo ul {margin:0;}
	#index-main #promo .yui-gb .yui-u {width:31%;}
	</style>


</head>
<body>
<div id="doc2" class="yui-t6">
   <div id="hd">
		<div id="ygunav">
			<p><em>
				<a href="http://real-estate.ilikeutah.com">Real Estate Search Home</a> <i> - </i>	
				<a href="http://ilikeutah.com/help">Help</a>
				</em>
			</p>

			<form action="http://search.yahoo.com/search"><label for="ygsp">Site Search</label> 
			<input name="vs" type="hidden" value="developer.yahoo.com">
			<input name="fr" type="hidden" value="ush-myweb">
			<input id="ygsp" name="va" size="22"> 
			<input type="submit" value="Search" class="ygbt"></form>
		</div>
		<div id="ygma"><a href="http://ilikeutah.com">I Like Utah.com</a></div>
		<div id="pagetitle"><h1>Home Search</h1></div>
		<div class="yui-g">
			<a href="/">Main</a>
	      <% if logged_in? %>
					<%= link_to "Logout", session_path, :method => :delete %>
	      <% else %>
					<%= link_to "Login", new_session_path %>
	      <% end %>

	    <!-- header goes here -->
	      <% if flash.any? %>
	        <div id="flash"><%= flash[:notice] %></div><% flash.clear %>
	      <% end %>
	     
		</div>
	</div>
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-gf">
    <div class="yui-u first">
	<!-- YOUR DATA GOES HERE -->
	<%= render :partial => 'advanced_search_form' %>
	<%# search refinement and sponsored links %>
	<%= yield :sidebar %>
	
	
	    </div>
    <div class="yui-u">
	<!-- YOUR DATA GOES HERE -->
      <%= yield %> <%# search results %>

	</div>
</div>
</div>
	</div>
	<div class="yui-b"><!-- YOUR NAVIGATION GOES HERE --></div>
	<div id="promo">
					<h1>Today's Featured Communites</h1>
		<p>			
						<a href="http://lakeside.iLikeUtah.com" ><img src="/images/communities/tshot2_256x153.jpg" /></a><br />
						<strong><a href="http://lakeside.iLikeUtah.com"  height="281" >Lakeside at Saratoga Springs</a></strong>
		</p>
		<p>				<a href="http://parcgatewaycondo.com/" ><img src="/images/communities/good_tower.jpg" alt="The Parc Gateway clock tower"  width="250"/></a><br />
						<strong><a href="http://parcgatewaycondo.com/">The Parc Gateway</a></strong>
		</p>				

	</div>
	
	<div id="yui-theater">
		<div>
			[<a href="theater/">more videos</a> <a href="theater/"><img src="http://us.i1.yimg.com/us.yimg.com/i/nt/ic/ut/bsc/vidcam12_1.gif" width="12" height="12" border="0"></a> ]
		</div>
		<h3>
			YUI Theater <a href="http://feeds.feedburner.com/yuiblog/yui-theater"><img class="rssbadge" src="http://us.i1.yimg.com/us.yimg.com/i/us/ext/rss.gif" height="17" width="36" alt="RSS badge"></a>
		</h3>
		<h2>
			Nate Koechley — "The YUI CSS Foundation"
		</h2><!--<embed src='http://us.i1.yimg.com/cosmos.bcst.yahoo.com/player/media/swf/FLVVideoSolo.swf' flashvars='id=4732784&emailUrl=http%3A%2F%2Fvideo.yahoo.com%2Futil%2Fmail%3Fei%3DUTF-8%26vid%3D1373808&imUrl=http%253A%252F%252Fvideo.yahoo.com%252Fvideo%252Fplay%253Fei%253DUTF-8%2526vid%253D1373808&imTitle=Nate%2BKoechley%253A%2B%2526quot%253BThe%2BYUI%2BCSS%2BFoundation%2526quot%253B&searchUrl=http://video.yahoo.com/search/video?p=&profileUrl=http://video.yahoo.com/video/profile?yid=&creatorValue=ZXJpY21pcmFnbGlh&vid=1373808' type='application/x-shockwave-flash' width='300' height='275'></embed>-->
		<object width="300" height="260">
			<param name="movie" value="http://d.yimg.com/static.video.yahoo.com/yep/YV_YEP.swf?ver=2.0.44">
			<param name="allowFullScreen" value="true">
			<param name="flashVars" value="id=4732784&amp;vid=1373808&amp;lang=en-US&amp;intl=us&amp;thumbUrl=http://us.i1.yimg.com/us.yimg.com/i/us/sch/cn/v/v3/w956/1373808_320_240.jpeg">
			<embed src="http://d.yimg.com/static.video.yahoo.com/yep/YV_YEP.swf?ver=2.0.44" type="application/x-shockwave-flash" width="300" height="260" allowfullscreen="true" flashvars="id=4732784&amp;vid=1373808&amp;lang=en-US&amp;intl=us&amp;thumbUrl=http://us.i1.yimg.com/us.yimg.com/i/us/sch/cn/v/v3/w956/1373808_320_240.jpeg">
		</object>
		<p>
			Senior YUI engineer Nate Koechley guides you through the YUI CSS foundation in this October 2007 tech talk.
		</p>
	</div>
	
	</div>
   <div id="ft"><%= render :partial => "/shared/footer" %>
	</div>
</div>
</body>
</html>
