<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:g="http://base.google.com/ns/1.0">

        <title>The name of your data feed.</title>
        <link rel="self" href="http://www.example.com"/>
        <updated>2006-06-11T18:30:02Z</updated>
        <author>
                <name>The name of the author.</name>
        </author>
        <id>tag:example.com,2006-06-11:/support/products</id>

<entry>
<title>Room for rent in Mountain View, CA</title>
<g:agent>Sue Smith</g:agent>
<g:area>1000 square ft.</g:area>
<g:bathrooms>2.5</g:bathrooms>
<g:bedrooms>4</g:bedrooms>
<g:broker>Acme Real Estate</g:broker>
<summary>Sunlit room in a ranch style, single-story house.</summary>
<g:expiration_date>2006-12-20</g:expiration_date>
<g:feature>Pet friendly</g:feature>
<id>1</id>
<g:image_link>http://www.example.com/image1.jpg</g:image_link>
<link href="http://www.example.com/item1-info-page.html"/>
<g:listing_status>active</g:listing_status>
<g:listing_type>for sale</g:listing_type>
<g:location>1600 Amphitheatre Pkwy, Mountain View, CA, 94043</g:location>
<g:mls_listing_id>246812</g:mls_listing_id>
<g:mls_name>Acme MLS</g:mls_name>
<g:open_house_date_range>
        <g:start>2006-12-10T00:00:01</g:start>
        <g:end>2006-12-16T23:59:59</g:end>
</g:open_house_date_range>
<g:price>225000</g:price>
<g:price_type>negotiable</g:price_type>
<g:property_type>apartment</g:property_type>
<g:provider_class>broker</g:provider_class>
<g:publish_date>2005-12-20</g:publish_date>
<g:school>Union High School</g:school>
<g:school_district>Union School District</g:school_district>
<g:year>2005</g:year>
<g:zoning>residential</g:zoning>
</entry>
 
<entry> 
<title>New Townhomes</title>
<g:agent>Sue Smith</g:agent>
<g:area>1300 square ft.</g:area>
<g:bathrooms>3</g:bathrooms>
<g:bedrooms>3</g:bedrooms>
<g:broker>Acme Real Estate</g:broker>
<summary>New townhomes for sale.</summary>
<g:expiration_date>2006-12-20</g:expiration_date>
<g:feature>Cathedral ceilings</g:feature>
<g:hoa_dues>120</g:hoa_dues>
<id>2</id>
<g:image_link>http://www.example.com/image2.jpg</g:image_link>
<link href="http://www.example.com/item2-info-page.html"/>
<g:listing_status>active</g:listing_status>
<g:listing_type>for sale</g:listing_type>
<g:location>1600 Amphitheatre Pkwy, Mountain View, CA, 94043</g:location>
<g:lot_size>43560 square ft.</g:lot_size>
<g:mls_listing_id>246812</g:mls_listing_id>
<g:mls_name>Acme MLS</g:mls_name>
<g:open_house_date_range>
        <g:start>2006-12-10T00:00:01</g:start>
        <g:end>2006-12-16T23:59:59</g:end>
</g:open_house_date_range>
<g:price>350000</g:price>
<g:price_type>negotiable</g:price_type>
<g:property_type>townhouse</g:property_type>
<g:provider_class>homebuilder</g:provider_class>
<g:publish_date>2005-12-20</g:publish_date>
<g:school>Union High School</g:school>
<g:school_district>Union School District</g:school_district>
<g:year>2005</g:year>
<g:zoning>residential</g:zoning>
</entry>
 
<entry> 
<title>Luxury Apartments</title>
<g:agent>Sue Smith</g:agent>
<g:area>1100 square ft.</g:area>
<g:bathrooms>2</g:bathrooms>
<g:bedrooms>2</g:bedrooms>
<g:broker>Acme Real Estate</g:broker>
<summary>Brand new luxury apartments for lease.</summary>
<g:expiration_date>2006-12-20</g:expiration_date>
<g:feature>On-site swimming pool</g:feature>
<id>3</id>
<g:image_link>http://www.example.com/image3.jpg</g:image_link>
<link href="http://www.example.com/item3-info-page.html"/>
<g:listing_status>active</g:listing_status>
<g:listing_type>for rent</g:listing_type>
<g:location>1 N Oplaine Rd, Gurnee, IL, 60031, USA</g:location>
<g:mls_listing_id>246812</g:mls_listing_id>
<g:mls_name>Acme MLS</g:mls_name>
<g:open_house_date_range>
        <g:start>2006-12-10T00:00:01</g:start>
        <g:end>2006-12-16T23:59:59</g:end>
</g:open_house_date_range>
<g:price>1400</g:price>
<g:price_type>starting</g:price_type>
<g:property_type>apartment</g:property_type>
<g:provider_class>mls</g:provider_class>
<g:publish_date>2005-12-20</g:publish_date>
<g:school>Gurnee Grade School</g:school>
<g:school_district>Gurnee School District</g:school_district>
<g:year>2004</g:year>
<g:zoning>residential</g:zoning>
</entry>
 
</feed>